<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                DoodleChamp &#33;&reg;
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            What is DoodleChamp?
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"> DoodleChamp is a game where players take turns drawing
                                    pictures
                                    to convey words or phrases, while the other players try to guess the correct word or
                                    phrase.
                                </a></li>
                        </ul>
                    </li>
                </ul>
                <li class="no-marker">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light fw-bold" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{ user.get_username }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"> Wins: {{ wins }} | Loses: {{loses}}
                                        </a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- <li><span class="text-light fw-bold">{{ user.get_username }}</span></li> -->
                        <li><a id="logout-btn" href="{% url 'logout' %}" class="btn btn-sm btn-light fw-bold">Logout</a></li>
                    {% else %}
                        <li><a id="login-btn" href="{% url 'login' %}" class="btn btn-sm btn-light fw-bold">Login</a></li>
                    {% endif %}
                </li>
            </div>
        </div>
    </nav>
    <style>
        body {
            /* overflow: hidden; */
            overflow-x: hidden;
            height: 100%;
        }
        .no-marker {
            list-style-type: none;
        }
    </style>
</header>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% block content %}{% endblock %}

</html>