{% extends "index.html" %}
{% block content %}



<body class="pt-5 d-flex flex-column bg-dark">

    {{ room_name|json_script:"room-name" }}
    <div container>
        <div class="row p-3 mb-2 bg-dark text-light vh-75 d-flex align-items-center justify-content-center">
            <div class="row mx-auto text-center">
                <h2 class="display-6">Lobby Join Code &#8594 {{ room_name }}</h2>
            </div>
            <div class="row mx-auto justify-content-center">
                <div class="col-md-5 bg-dark">
                    <div class="row">
                        <div class="col-md-4 col-4 border bg-dark text-light table-responsive">
                            <table
                                class="table rounded table-dark table-bordered table-striped table-hover align-middle text-center">
                                <thead class="table-info text-center">
                                    <tr>
                                        <th class="text-center" style="width: 100%;">Player List</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td id="player-list">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8 col-4 border bg-dark text-light">
                            <table
                                class="table rounded table-dark table-bordered table-striped table-hover align-middle">
                                <thead class="table-info text-center">
                                    <tr>
                                        <th class="text-center">Settings</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>
                                            <div>
                                                <form id="jsform" action="Game" method="POST">
                                                    <input type="hidden" value="{{ room_name }}" name="game-code">
                                                    <input type="hidden" value="{{username}}" name="username">
                                                    <!-- <input class="form-control" type="number" value="2" id="num_rounds" name="num_rounds"> -->
                                                    <label for="num_rounds">Select Number of Rounds</label><br>
                                                    <select class="form-select" id="num_rounds" name="num_rounds"
                                                        aria-label="Default select example">
                                                        <!-- <option selected>Select Number of Rounds</option> -->
                                                        <option value="1">1</option>
                                                        <option selected value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                    {% csrf_token %}
                                                </form>
                                                <!-- <select class="form-select" id="num_rounds" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select> -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><br>
                    <div class="row col-2 mx-auto">
                        <button id="start-btn" class="btn btn-sm btn-success me-2 text-light">Start</button>
                    </div>
                </div>
            </div>
            <div class="row fixed-bottom mx-auto justify-content-center">
                <div class="col-md-5 bg-dark">
                    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel"
                        style="width: 50%; margin: auto;">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://i.ibb.co/74qMYWw/basket-dark.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"
                                    style="position: absolute; bottom: 0; left: 0; right: 0;">
                                    <p>Basketball</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.ibb.co/5WTgGDb/tree-dark.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"
                                    style="position: absolute; bottom: 0; left: 0; right: 0;">
                                    <p>Tree</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.ibb.co/MGv7KMm/eye-dark.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"
                                    style="position: absolute; bottom: 0; left: 0; right: 0;">
                                    <p>Eye</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.ibb.co/4KTnSD0/leaf-dark.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"
                                    style="position: absolute; bottom: 0; left: 0; right: 0;">
                                    <p>Leaf</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <br><br>

    <!-- <form id="jsform" action="Game" method="POST">
        <input type="hidden" value="{{ room_name }}" name="game-code">
        <input type="hidden" value="{{username}}" name="username">
        <input name="num_rounds">

        {% csrf_token %}
    </form> -->

    <script>
        document.querySelector('#start-btn').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'type': "set_num_rounds",
                'num_rounds': document.getElementById('num_rounds').value
            }))

            chatSocket.send(JSON.stringify({
                'type': "start_game",

            }))

        }

        document.getElementsByTagName('select')[0].onchange = function () {
            var index = this.selectedIndex;
            var inputText = this.children[index].innerHTML.trim();
            console.log(inputText);
            chatSocket.send(JSON.stringify({
                'type': "show_round_settings",
                'round_setting': inputText
            }))
        }

        // document.querySelector('#game-code').onkeyup = function(e) {
        //     if (e.keyCode === 13) { // enter, return
        //         document.querySelector('#start-btn').click();
        //     }
        // }
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let num_rounds = document.getElementById('num_rounds').value

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/DoodleChamp/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log("onmessage");
            console.log(data);
            let playerList = document.getElementById("player-list");

            switch (data.type) {
                case "add_players":
                    ptag = document.createElement('p');
                    ptag.innerHTML = data.player;
                    playerList.appendChild(ptag);
                    break;
                case "delete_players":
                    //let playerList = document.getElementById("player-list");        
                    let pElements = playerList.getElementsByTagName('p');

                    // Loop through all p elements and remove them from the div
                    while (pElements.length > 0) {
                        playerList.removeChild(pElements[0]);
                        console.log("removed");
                    }
                    break;
                case "start_game":
                    document.getElementById('jsform').submit();
                    break;
            }

        };
        chatSocket.onopen = function (e) {
            let playerList = document.getElementById("player-list");
            let pElements = playerList.getElementsByTagName('p');

            // Loop through all p elements and remove them from the div
            while (pElements.length > 0) {
                playerList.removeChild(pElements[0]);
                console.log("removed");
            }
            console.log("connect");
            chatSocket.send(JSON.stringify({
                'type': "DoodleChamp_app_player_joins",
                'player': "{{username}}"
            }))
        }
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>

    <footer class="bg-dark text-light py-3 fixed-bottom">
        <p class="text-center m-0"><small>DoodleChamp by</small> <a href="https://github.com/Gabrielmbl" target="_blank"
                class="opacity-50 text-white">Gabriel</a>, <a href="https://github.com/Hunter-Kendall" target="_blank"
                class="opacity-50 text-white">Hunter</a> </p>
    </footer>
</body>

{% endblock %}